packaging_format = 2

id = "shiori"
name = "Shiori"
description.en = "Simple bookmark manager"
description.fr = "Gestionnaire de liens simple"

version = "1.5.5~ynh2"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
admindoc = "https://github.com/go-shiori/shiori/wiki"
userdoc = "https://github.com/go-shiori/shiori/wiki/Usage"
code = "https://github.com/go-shiori/shiori"

[integration]
yunohost = ">= 11.1.21"
architectures = ["amd64", "arm64", "armhf"]
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/shiori"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]
    
        [resources.sources.main]
        amd64.url = "https://github.com/go-shiori/shiori/releases/download/v1.5.5-rc.2/shiori_Linux_x86_64.tar.gz"
        amd64.sha256 = "928adfc3d927b718c7bd75396bbb3a34cb542676374b6c89bb3da92063ac099c"
        arm64.url = "https://github.com/go-shiori/shiori/releases/download/v1.5.5-rc.2/shiori_Linux_aarch64.tar.gz"
        arm64.sha256 = "98fc7c8114264b338838089a6ab7c4ce326224fac4f498b6ecc4bfab2d3d3c78"
        armhf.url = "https://github.com/go-shiori/shiori/releases/download/v1.5.5-rc.2/shiori_Linux_arm.tar.gz"
        armhf.sha256 = "3ac24d434ff7a76bb3a8810e6c23caf28a7040c67756fec99a2483f04a197f77"
        in_subdir = false
        autoupdate.strategy = "latest_github_release"
        #autoupdate.asset.amd64 = "^shiori_.*_Linux_x86_64.tar.gz$"
        #autoupdate.asset.arm64 = "^shiori_.*_Linux_aarch64.tar.gz$"
        #autoupdate.asset.armhf = "^shiori_.*_Linux_armv7.tar.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "sqlite3"
