packaging_format = 2

id = "shiori"
name = "Shiori"
description.en = "Simple bookmark manager"
description.fr = "Gestionnaire de liens simple"

version = "1.8.0~ynh1"

maintainers = []

[upstream]
license = "MIT"
admindoc = "https://github.com/go-shiori/shiori/wiki"
userdoc = "https://github.com/go-shiori/shiori/wiki/Usage"
code = "https://github.com/go-shiori/shiori"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "arm64", "armhf"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/shiori"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]
    
        [resources.sources.main]
        amd64.url = "https://github.com/go-shiori/shiori/releases/download/v1.8.0/shiori_Linux_x86_64_1.8.0.tar.gz"
        amd64.sha256 = "20552c4d91c720dc9786d73a7f5b68abd9ed32addb177861f89ea5d4e5937d3f"
        arm64.url = "https://github.com/go-shiori/shiori/releases/download/v1.8.0/shiori_Linux_aarch64_1.8.0.tar.gz"
        arm64.sha256 = "ebfb94cc5ab955f379ec3af0b7194191f3989096ad37e7cb59e9ef3c12528fba"
        armhf.url = "https://github.com/go-shiori/shiori/releases/download/v1.8.0/shiori_Linux_arm_1.8.0.tar.gz"
        armhf.sha256 = "a886e6b3e7171075c03e8ed880d9a035f21712d277a18ba497b1cce9e5ca5106"
        in_subdir = false
        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^shiori_Linux_x86_64_.*\\.tar\\.gz$"
        autoupdate.asset.arm64 = "^shiori_Linux_aarch64_.*\\.tar\\.gz$"
        autoupdate.asset.armhf = "^shiori_Linux_arm_.*\\.tar\\.gz$"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false

    [resources.apt]
    packages = "sqlite3"
