[Unit]
Description=Shiori: Simple bookmark manager
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/shiori serve --port __PORT__
Restart=always
Environment="SHIORI_DIR=__DATADIR__"

[Install]
WantedBy=multi-user.target
