[Unit]
Description=Shiori: simple bookmark manager
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/shiori server --port __PORT__ --webroot __PATH__
Restart=always
Environment="SHIORI_DIR=__DATA_DIR__"

[Install]
WantedBy=multi-user.target
